<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div style="background-position: left center;background-size: auto 100%;background-repeat: no-repeat;" id="logo">
      <img src="../../../../assets/CCW24.png">
    </div>
    <div class="container">
      <a class="navbar-brand" style="font-weight:bold;color:royalblue" [routerLink]="['/']">Crypto World</a>
      <!--<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/currency']">Back</a>
          </li>
        </ul>
      </div>-->
    </div>
  </nav>
</header>
